@import flags

@font-face
  font-family: 'Actor'
  font-style: normal
  font-weight: 400
  src: url('./fonts/actor-v6-latin-regular.eot') /* IE9 Compat Modes */
  src: url('./fonts/actor-v6-latin-regular.woff2') format('woff2') /* Super Modern Browsers */
  src: url('./fonts/actor-v6-latin-regular.woff') format('woff') /* Modern Browsers */
  src: url('./fonts/actor-v6-latin-regular.svg#Actor') format('svg') /* Legacy iOS */

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

$IMFell: 'Actor', Helvetica, Arial, serif
$dotColor: #29000b
$dotSelected: #00ff05
$charcoal: rgba(20,20,20,0.9  )
$paleWhite: rgba(200,200,200,0.5)

body
  background-color: #000000
  display: flex
  justify-content: center
  align-items: center
  width: 1200px
  height: 600px
  margin-left: auto
  margin-right: auto
  margin-top: auto
  margin-bottom: auto

#app
  justify-content: center

#canvas
  background-color: $charcoal
  border: solid 1px black
  +border-radius(3px)

#flags
  position: relative  //this is so child flags can use absolute positioning

#svg
  font-family: $IMFell
  background-color: $charcoal
  color: $paleWhite
  display: flex
  top: auto
  bottom: auto
  border: solid 1px black
  +border-radius(3px)

#title
  font-size: 1.5em
  fill: #d4d4d4

.absolute
  position: absolute

.container
  display: flex
  align-content: center

.tooltip
  font-family: $IMFell
  font-size: 16px
  padding: 5px
  color: $paleWhite
  background-color: black
  border: solid 1px $dotColor
  +border-radius(3px)
